$color-primary:#8d7968;
$color-primary-light: #dfc5b2;
$color-primary-dark: #201710;

$color-grey-dark: #5e5d5d;
$color-grey: #9c9a98;
$color-white: #fff;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'EB Garamond', serif, 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: $color-primary-dark;
}
