$color-primary:#8d7968;
$color-primary-light: #dfc5b2;
$color-primary-dark: #201710;
$color-primary-main: #fbcfae;

$color-grey-dark: #5e5d5d;
$color-grey: #9c9a98;
$color-white: #fff;
$color-black: #0000;

$padding: 6rem 3rem 6rem 3rem;
$bodoni: 'Bodoni Moda', serif;
$notosans: 'Noto Sans JP', sans-serif;

$spacing-l:0.3rem;
$spacing-m: 0.2rem;
$spacing-s: 0.1rem;

$main-bg-img: url('/img/main.jpg');
$about-bg-img: url('file:///Users/inae1park/WMAD2020/Project/artlier-finalproject/img/abstract-3288639_1920.jpg');
$contact-bg-img: url('file:///Users/inae1park/WMAD2020/Project/artlier-finalproject/img/watercolour-4117519_1280.png');
$contact-bg-img2: url('file:///Users/inae1park/WMAD2020/Project/artlier-finalproject/img/watercolour-4117519_12801.png');
$bg-logo: url('file:///Users/inae1park/WMAD2020/Project/artlier-finalproject/img/artlier_logo_white.png');





*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  $notosans;
    font-weight: 300;
    position: relative;
    color: $color-primary-dark;
    padding: 0;
    h2{
        font-family: $bodoni;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .highlight {
        background-image: linear-gradient(120deg, $color-primary-main 0%, $color-primary-light 100%);
        background-repeat: no-repeat;
        background-size: 100% 20%;
        background-position: 0 76%;
        transition: background-size 0.25s ease-in;
    }
      .highlight:hover{
        background-size: 100% 50%;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 2;
        top: 0;
        padding: 1.2rem 2rem 1.2rem 2rem;
        height: 10vh;
        width: 100%;
        background-color: $color-white;
        .nav-logo-img{
            width: 10rem;
            height: auto;
        }    
        .main-nav{
            display: flex;
            flex-direction: row;
            list-style: none;
        }
        .nav-link {
            &:visited{
                text-decoration: none;
                color: $color-primary-dark;
            }
            &:hover{
                color: $color-primary-main;
            }
        }
    }
    li {
        padding-left: 1rem;
    }

    a:link{
        text-decoration: none; 
        color: $color-primary-dark;      
    }


    .main {
        padding: $padding;
        background-image: $main-bg-img;
        background-size: cover;
        display: flex;
        width: 100%;
        height: 42rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .main-content{
            position: relative;

            .main-text{
                color: $color-white;
                font-family: $bodoni;
                font-weight: 700;
                font-size: 5rem;
                line-height: 10rem;
                &:hover{
                    color: rgba($color: #000000, $alpha: 0);
                    background-image: $bg-logo;
                    background-size: 70%;
                    background-repeat: no-repeat;
                    background-position: center;

                }
            }
        }
        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            input.search-box{
                height: 3rem;
                width: 35rem;
                border: 1px solid $color-primary-dark;
                background: $color-white;
                outline-style: none;
                padding-left: 1rem;
            }
            .search-btn{
                height: 3rem;
                width: 5rem;
                border: 0;
                outline: none;
                color: $color-primary;
                background-color: $color-primary-dark;
                &:hover{
                    color: $color-primary-light;
                }
            }


        }
    }

    .about-artlier{
        padding: $padding;
        .explain{
            display: flex;
            flex-direction: column;
            align-items: center;
            .explain-art{
                display: flex;
                flex-direction: row;
                font-size: 5rem;
                margin: 2rem;
                .art{
                    font-family: $bodoni;
                    width: 15rem;
                    height: 15rem;
                    line-height: 15rem;
                    border-radius: 50%;
                    background-image: $about-bg-img;
                    background-size: 95%;
                    text-align: center;
                }
                .atelier{
                    font-family: $bodoni;
                    width: 15rem;
                    height: 15rem;
                    line-height: 15rem;
                    border-radius: 50%;
                    background-image: $about-bg-img;
                    background-size: 70vw;
                    text-align: center;
                }
                .plus{
                    padding: 3rem 5rem 3rem 5rem;
                }
            }
            p{
                width: 35rem;
                text-align: center;
            }
        }
        

    }

    .our-artists{
        padding: $padding;
        .artists-content{
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

        }
        .artist{
            width: 22vw;
            height: 22vw;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            .artist-img-box{
                width: 22vw;
                height: 22vw;
                position: absolute;
                z-index: 1;
                transition: all 2.5s ease-in;
                bottom: 0px;
                overflow: hidden;
                .artist-img{
                    position: absolute; top:0; left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    bottom: 12rem;
                    transition-duration: .8s;

                }
                
            }
            

            .artist-text{
                width: 22vw;
                height: 18vw;
                color: $color-white;
                background-color: $color-primary-dark;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 1rem;
                p{
                    padding-bottom: 1rem;
                }
                .btn-visit{
                    border: 1px solid;
                    padding: 0.5rem;
                    color: $color-white;
                    letter-spacing: $spacing-l;
                    &:hover{
                        color: $color-primary-main;
                    }
                }

            }
        }
    }

    .visit-artlier{
        padding: 0;
        h2{
            padding: $padding;
        }
        .visit-content{
            position: relative;
            width: 100vw;
            height: 90vh;
    
            .visit-img-png{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                cursor: pointer;

            }
            .visit-img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
            &:hover .visit-img-png{
                transform: scale(1.4);
                transition-duration: 1s;
            }
            
        }
    }

    .our-services{
        padding: $padding;
        background-color: $color-primary;
        .services-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 3rem;
            .service{
                width: 25vw;
                height: auto;
                background-color: $color-primary-dark;
                color: $color-primary-light;
                margin: 1rem;
                padding: 2rem;
                h3{
                    font-family: $bodoni;
                    letter-spacing: $spacing-m;
                    font-size: 2rem;
                }
                .service-price{
                    font-weight: 100;
                    font-size: 1.5rem;
                    letter-spacing: $spacing-m;
                    padding: 1rem 0 1rem 0;
                    color: $color-primary-main;
                }
                .service-btn{
                    display: block;
                    border: 1px solid;
                    color: $color-primary-light;
                    padding: 1rem;
                    margin-top: 1rem;
                    letter-spacing: $spacing-l;
                    text-align: center;
                    &:hover{
                        color: $color-white;
                    }
                }
            }

        }
    }

    .contact{
        padding: $padding;
        .contact-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .contact-audience{
                .contact-input{
                    background-image: $contact-bg-img2;
                }
            }
            .contact-input{
                padding: 0 4rem 0 4rem;
                background-image: $contact-bg-img;
                background-size: 25vw;
                background-repeat: no-repeat;
                h3{
                    font-family: $bodoni;
                    font-size: 3rem;
                }
                .contact-detail{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .label{
                        padding-right: 2rem;
                        line-height: 3rem;
                    }
                    .label-input{
                        padding-right: 2rem;
                        line-height: 3rem;
                    }
                }
                input{
                    width: 14rem;
                    color: $color-grey-dark;
                    padding: 0.2rem;
                }
                input[type=submit]{
                    width: 91%;
                    font-size: 1rem;
                    padding: 0.5rem;
                    margin-top: 1rem;
                    background-color: $color-primary-dark;
                    color: $color-primary;
                    border: 0;
                    letter-spacing: $spacing-m;
                    &:hover{
                        color: $color-white;
                    }
                }

            }
        }
    }

    .nav-bar-footer{
        display: flex;
        flex-direction: row;
        padding: 1.2rem 2rem 5rem 2rem;
        height: 10vh;
        width: 100%;
        background-color: $color-primary-dark;
        justify-content: space-between;
        .nav-logo-img{
            width: 10rem;
            height: auto;
            margin-right: 4rem;
        }    
        .main-nav{
            display: flex;
            flex-direction: row;
            list-style: none;
            color: $color-white;
        }
        .nav-link {
            &:visited{
                text-decoration: none;
                color: $color-primary;
            }
            &:hover{
                color: $color-primary-light;
            }
        }
    }

}

