$color-primary:#8d7968;
$color-primary-light: #dfc5b2;
$color-primary-dark: #201710;

$color-grey-dark: #5e5d5d;
$color-grey: #9c9a98;
$color-white: #fff;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: $color-primary-dark;
    padding: 3rem;
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-logo-img{
        width: 9em;
        height: auto;
    }    
    .main-nav{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    li {
        padding-left: 1rem;
    }

    a:link{
        text-decoration: none;       
    }
}

