*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  position: relative;
  color: #201710;
  padding: 0;
}

body h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

body .highlight {
  background-image: linear-gradient(120deg, #fbcfae 0%, #dfc5b2 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 76%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

body .highlight:hover {
  background-size: 100% 50%;
}

body .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 1.2rem 2rem 1.2rem 2rem;
  height: 10vh;
  width: 100%;
  background-color: #fff;
}

body .nav-bar .nav-logo-img {
  width: 10rem;
  height: auto;
}

body .nav-bar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

body .nav-bar .nav-link:visited {
  text-decoration: none;
  color: #201710;
}

body .nav-bar .nav-link:hover {
  color: #fbcfae;
}

body li {
  padding-left: 1rem;
}

body a:link {
  text-decoration: none;
  color: #201710;
}

body .main {
  padding: 6rem 3rem 6rem 3rem;
  background-image: url("/img/main.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 42rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main-content {
  position: relative;
}

body .main .main-content .main-text {
  color: #fff;
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 10rem;
}

body .main .main-content .main-text:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url("/img/artlier_logo_white.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

body .main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .search input.search-box {
  height: 3rem;
  width: 35rem;
  border: 1px solid #201710;
  background: #fff;
  outline-style: none;
  padding-left: 1rem;
}

body .main .search .search-btn {
  height: 3rem;
  width: 5rem;
  border: 0;
  outline: none;
  color: #8d7968;
  background-color: #201710;
}

body .main .search .search-btn:hover {
  color: #dfc5b2;
}

body .about-artlier {
  padding: 6rem 3rem 6rem 3rem;
}

body .about-artlier .explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .about-artlier .explain .explain-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
  margin-left: -8vw;
}

body .about-artlier .explain .explain-art .art {
  font-family: "Bodoni Moda", serif;
  width: 15rem;
  height: 15rem;
  line-height: 15rem;
  border-radius: 50%;
  background-image: url("/img/abstract-3288639_1920.jpg");
  background-size: 95%;
  text-align: center;
}

body .about-artlier .explain .explain-art .atelier {
  font-family: "Bodoni Moda", serif;
  width: 15rem;
  height: 15rem;
  line-height: 15rem;
  border-radius: 50%;
  background-image: url("/img/abstract-3288639_1920.jpg");
  background-size: 70vw;
  text-align: center;
}

body .about-artlier .explain .explain-art .plus {
  padding: 3rem 2rem 3rem 2rem;
}

body .about-artlier .explain p {
  width: 35rem;
  text-align: center;
}

body .our-artists {
  padding: 6rem 3rem 6rem 3rem;
}

body .our-artists .artists-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .our-artists .artist {
  width: 22vw;
  height: 22vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

body .our-artists .artist .artist-img-box {
  width: 22vw;
  height: 22vw;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 2.5s ease-in;
  transition: all 2.5s ease-in;
  bottom: 0px;
  overflow: hidden;
}

body .our-artists .artist .artist-img-box .artist-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .our-artists .artist .artist-img-box:hover {
  bottom: 12rem;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

body .our-artists .artist .artist-text {
  width: 22vw;
  height: 22vw;
  color: #fff;
  background-color: #201710;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

body .our-artists .artist .artist-text p {
  padding-bottom: 1rem;
}

body .our-artists .artist .artist-text .btn-visit {
  border: 1px solid;
  padding: 0.5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  text-align: center;
}

body .our-artists .artist .artist-text .btn-visit:hover {
  color: #fbcfae;
}

body .visit-artlier {
  padding: 0;
}

body .visit-artlier h2 {
  padding: 6rem 3rem 6rem 3rem;
}

body .visit-artlier .visit-content {
  position: relative;
  width: 100vw;
  height: 90vh;
}

body .visit-artlier .visit-content .visit-img-png {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

body .visit-artlier .visit-content .visit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

body .visit-artlier .visit-content:hover .visit-img-png {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

body .our-services {
  padding: 6rem 3rem 6rem 3rem;
  background-color: #8d7968;
}

body .our-services .services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

body .our-services .services-content .service {
  width: 25vw;
  height: auto;
  background-color: #201710;
  color: #dfc5b2;
  margin: 1rem;
  padding: 2rem;
}

body .our-services .services-content .service h3 {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

body .our-services .services-content .service .service-price {
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 1rem 0 1rem 0;
  color: #fbcfae;
}

body .our-services .services-content .service .service-btn {
  display: block;
  border: 1px solid;
  color: #dfc5b2;
  padding: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

body .our-services .services-content .service .service-btn:hover {
  color: #fff;
}

body .contact {
  padding: 6rem 3rem 6rem 3rem;
}

body .contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contact .contact-content .contact-audience .contact-input {
  background-image: url("/img/watercolour-4117519_12801.png");
}

body .contact .contact-content .contact-input {
  padding: 0 4rem 0 4rem;
  background-image: url("/img/watercolour-4117519_1280.png");
  background-size: 25vw;
  background-repeat: no-repeat;
}

body .contact .contact-content .contact-input h3 {
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
}

body .contact .contact-content .contact-input .contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .contact .contact-content .contact-input .contact-detail .label {
  padding-right: 2rem;
  line-height: 3rem;
}

body .contact .contact-content .contact-input .contact-detail .label-input {
  padding-right: 0rem;
  line-height: 3rem;
}

body .contact .contact-content .contact-input input {
  width: 14rem;
  color: #5e5d5d;
  padding: 0.2rem;
}

body .contact .contact-content .contact-input input[type=submit] {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #201710;
  color: #8d7968;
  border: 0;
  letter-spacing: 0.2rem;
}

body .contact .contact-content .contact-input input[type=submit]:hover {
  color: #fff;
}

body .nav-bar-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.2rem 2rem 5rem 2rem;
  height: 10vh;
  width: 100%;
  background-color: #201710;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .nav-bar-footer .nav-logo-img {
  width: 10rem;
  height: auto;
  margin-right: 4rem;
}

body .nav-bar-footer .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  color: #fff;
}

body .nav-bar-footer .nav-link:visited {
  text-decoration: none;
  color: #8d7968;
}

body .nav-bar-footer .nav-link:hover {
  color: #dfc5b2;
}

@media (max-width: 1200px) {
  body {
    background: pink;
  }
  body h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  body .main {
    padding: 6rem 3rem 6rem 3rem;
    background-image: url("/img/main.jpg");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 42rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .main-content {
    position: relative;
  }
  body .main .main-content .main-text {
    color: #fff;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 10rem;
  }
  body .main .main-content .main-text:hover {
    color: rgba(0, 0, 0, 0);
    background-image: url("/img/artlier_logo_white.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  body .main .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .search input.search-box {
    height: 3rem;
    width: 35rem;
    border: 1px solid #201710;
    background: #fff;
    outline-style: none;
    padding-left: 1rem;
  }
  body .main .search .search-btn {
    height: 3rem;
    width: 5rem;
    border: 0;
    outline: none;
    color: #8d7968;
    background-color: #201710;
  }
  body .main .search .search-btn:hover {
    color: #dfc5b2;
  }
  body .about-artlier {
    padding: 6rem 3rem 6rem 3rem;
  }
  body .about-artlier .explain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .about-artlier .explain .explain-art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4rem;
    margin-left: -10vw;
  }
  body .about-artlier .explain .explain-art .art {
    font-family: "Bodoni Moda", serif;
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    border-radius: 50%;
    background-image: url("/img/abstract-3288639_1920.jpg");
    background-color: #8d7968;
    background-size: 95%;
    text-align: center;
  }
  body .about-artlier .explain .explain-art .atelier {
    font-family: "Bodoni Moda", serif;
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    border-radius: 50%;
    background-image: url("/img/abstract-3288639_1920.jpg");
    background-size: 70vw;
    text-align: center;
  }
  body .about-artlier .explain .explain-art .plus {
    padding: 3rem 2rem 3rem 2rem;
  }
  body .about-artlier .explain p {
    width: 35rem;
    text-align: center;
  }
  body .our-artists {
    padding: 6rem 3rem 6rem 3rem;
  }
  body .our-artists .artists-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .our-artists .artist {
    width: 22vw;
    height: 22vw;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  body .our-artists .artist .artist-img-box {
    width: 22vw;
    height: 22vw;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 2.5s ease-in;
    transition: all 2.5s ease-in;
    bottom: 0px;
    overflow: hidden;
  }
  body .our-artists .artist .artist-img-box .artist-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body .our-artists .artist .artist-img-box:hover {
    bottom: 12rem;
    -webkit-transition-duration: .8s;
            transition-duration: .8s;
  }
  body .our-artists .artist .artist-text {
    width: 22vw;
    height: 22vw;
    font-size: 1rem;
    color: #fff;
    background-color: #201710;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1rem;
  }
  body .our-artists .artist .artist-text p {
    padding-bottom: 1rem;
  }
  body .our-artists .artist .artist-text .btn-visit {
    border: 1px solid;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  body .our-artists .artist .artist-text .btn-visit:hover {
    color: #fbcfae;
  }
  body .visit-artlier {
    padding: 0;
  }
  body .visit-artlier h2 {
    padding: 6rem 3rem 2rem 3rem;
  }
  body .visit-artlier .visit-content {
    position: relative;
    width: 100vw;
    height: 90vh;
  }
  body .visit-artlier .visit-content .visit-img-png {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  body .visit-artlier .visit-content .visit-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  body .visit-artlier .visit-content:hover .visit-img-png {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  body .our-services {
    padding: 6rem 3rem 6rem 3rem;
    background-color: #8d7968;
  }
  body .our-services .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1rem;
  }
  body .our-services .services-content .service {
    width: 29vw;
    height: auto;
    background-color: #201710;
    color: #dfc5b2;
    margin: 0.5rem;
    padding: 2rem;
  }
  body .our-services .services-content .service h3 {
    font-family: "Bodoni Moda", serif;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
  }
  body .our-services .services-content .service .service-price {
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 0 1rem 0;
    color: #fbcfae;
  }
  body .our-services .services-content .service .service-btn {
    display: block;
    border: 1px solid;
    color: #dfc5b2;
    padding: 0.7rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  body .our-services .services-content .service .service-btn:hover {
    color: #fff;
  }
  body .contact {
    padding: 6rem 3rem 6rem 3rem;
  }
  body .contact .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .contact .contact-content .contact-audience .contact-input {
    background-image: url("/img/watercolour-4117519_12801.png");
  }
  body .contact .contact-content .contact-input {
    padding: 0 2rem 0 2rem;
    background-image: url("/img/watercolour-4117519_1280.png");
    background-size: 25vw;
    background-repeat: no-repeat;
  }
  body .contact .contact-content .contact-input h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
  }
  body .contact .contact-content .contact-input .contact-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .contact .contact-content .contact-input .contact-detail .label {
    padding-right: 1rem;
    line-height: 3rem;
  }
  body .contact .contact-content .contact-input .contact-detail .label-input {
    padding-right: 0rem;
    line-height: 3rem;
  }
  body .contact .contact-content .contact-input input {
    width: 12rem;
    color: #5e5d5d;
    padding: 0.2rem;
  }
  body .contact .contact-content .contact-input input[type=submit] {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #201710;
    color: #8d7968;
    border: 0;
    letter-spacing: 0.2rem;
  }
  body .contact .contact-content .contact-input input[type=submit]:hover {
    color: #fff;
  }
  body .nav-bar-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.2rem 2rem 5rem 2rem;
    height: 10vh;
    width: 100%;
    background-color: #201710;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .nav-bar-footer .nav-logo-img {
    width: 10rem;
    height: auto;
    margin-right: 2rem;
  }
  body .nav-bar-footer .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    color: #fff;
  }
  body .nav-bar-footer .nav-link:visited {
    text-decoration: none;
    color: #8d7968;
  }
  body .nav-bar-footer .nav-link:hover {
    color: #dfc5b2;
  }
}

@media (max-width: 800px) {
  body {
    background: yellow;
  }
  body .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 14vh;
    width: 100%;
    background-color: #fff;
  }
  body .nav-bar .nav-link:visited {
    text-decoration: none;
    color: #201710;
  }
  body .nav-bar .nav-link:hover {
    color: #fbcfae;
  }
  body li {
    font-size: 1.1rem;
    padding-left: 0.7rem;
  }
  body .main {
    height: 32rem;
  }
  body .main .main-content {
    position: relative;
  }
  body .about-artlier {
    padding: 6rem 3rem 6rem 3rem;
  }
  body .about-artlier .explain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .about-artlier .explain .explain-art {
    margin-left: -6rem;
    font-size: 3.5rem;
  }
  body .about-artlier .explain .explain-art .art {
    width: 11rem;
    height: 11rem;
    line-height: 11rem;
  }
  body .about-artlier .explain .explain-art .atelier {
    width: 11rem;
    height: 11rem;
    line-height: 11rem;
  }
  body .about-artlier .explain .explain-art .plus {
    padding: 2rem 1rem 2rem 1rem;
  }
  body .about-artlier .explain p {
    width: 35rem;
    text-align: center;
  }
  body .our-services .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0rem;
  }
  body .our-services .services-content .service {
    width: 27vw;
    height: auto;
    background-color: #201710;
    color: #dfc5b2;
    margin: 1rem;
    padding: 1.8rem;
  }
  body .our-services .services-content .service h3 {
    font-family: "Bodoni Moda", serif;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
  }
  body .our-services .services-content .service .service-price {
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 0 1rem 0;
    color: #fbcfae;
  }
  body .our-services .services-content .service .service-btn {
    display: block;
    border: 1px solid;
    color: #dfc5b2;
    padding: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  body .our-services .services-content .service .service-btn:hover {
    color: #fff;
  }
  body .contact {
    padding: 6rem 3rem 6rem 3rem;
  }
  body .contact .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .contact .contact-content .contact-audience .contact-input {
    background-image: url("/img/watercolour-4117519_12801.png");
  }
  body .contact .contact-content .contact-input {
    padding: 0 2rem 0 2rem;
    background-image: url("/img/watercolour-4117519_1280.png");
    background-size: 25vw;
    background-repeat: no-repeat;
  }
  body .contact .contact-content .contact-input h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
  }
  body .contact .contact-content .contact-input .contact-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .contact .contact-content .contact-input .contact-detail .label {
    padding-right: 1rem;
    line-height: 3rem;
  }
  body .contact .contact-content .contact-input .contact-detail .label-input {
    padding-right: 0rem;
    line-height: 3rem;
  }
  body .contact .contact-content .contact-input input {
    width: 12rem;
    color: #5e5d5d;
    padding: 0.2rem;
  }
  body .contact .contact-content .contact-input input[type=submit] {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #201710;
    color: #8d7968;
    border: 0;
    letter-spacing: 0.2rem;
  }
  body .contact .contact-content .contact-input input[type=submit]:hover {
    color: #fff;
  }
  body .nav-bar-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.2rem 2rem 5rem 2rem;
    height: 10vh;
    width: 100%;
    background-color: #201710;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .nav-bar-footer .nav-logo-img {
    width: 10rem;
    height: auto;
    margin-right: 4rem;
  }
  body .nav-bar-footer .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    color: #fff;
  }
  body .nav-bar-footer .nav-link:visited {
    text-decoration: none;
    color: #8d7968;
  }
  body .nav-bar-footer .nav-link:hover {
    color: #dfc5b2;
  }
}
/*# sourceMappingURL=main.css.map */